# Project exclude paths
/.idea
/cmake-build-debug/.cmake
/cmake-build-debug/CMakeFiles
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Hyperbolic_geometry.cbp
/cmake-build-debug/Makefile
/cmake-build-debug/Testing